body {
	background-image: url("../img/all/tileable-white-wood.png");
}

div.stage {
	display: none;
}


@media all and (orientation:portrait) {
	div#layout-debug > span#portrait { display: inline; }
	div#layout-debug > span#landscape { display: none; }
}

@media all and (orientation:landscape) {
	div#layout-debug > span#portrait { display: none; }
	div#layout-debug > span#landscape { display: inline; }
}

/* ==================================== */
/* GENERAL RULES FOR SMALL MEDIUM LARGE */
/* ==================================== */

@media all and (orientation:portrait) and (min-width: 600px), 
	all and (orientation:landscape) and (min-height: 600px) {
	.dynamic.large.block       { display: block;  }
	.dynamic.large:not(.block) { display: inline; }
	.dynamic:not(.large)       { display: none;   }
}
@media all and (orientation:portrait) and (max-width: 599px) and (min-width: 420px), 
	all and (orientation:landscape) and (max-height: 599px) and (min-height: 420px) {
	.dynamic.medium.block       { display: block;  }
	.dynamic.medium:not(.block) { display: inline; }
	.dynamic:not(.medium)       { display: none;   }
}
@media all and (orientation:portrait) and (max-width: 419px), 
	all and (orientation:landscape) and (max-height: 419px) {
	.dynamic.small.block       { display: block;  }
	.dynamic.small:not(.block) { display: inline; }
	.dynamic:not(.small)       { display: none;   }
}

/* ======================= */
/* RULES SPECIFIC TO WIDTH */
/* ======================= */

@media all and (max-width: 639px) {
	.dynamic-wide.small.block       { display: block;  }
	.dynamic-wide.small:not(.block) { display: inline; }
	.dynamic-wide:not(.small)       { display: none;   }
}
@media all and (min-width: 640px) and (max-width: 919px) {
	.dynamic-wide.medium.block       { display: block;  }
	.dynamic-wide.medium:not(.block) { display: inline; }
	.dynamic-wide:not(.medium)       { display: none;   }
}
@media all and (min-width: 920px) {
	.dynamic-wide.large.block       { display: block;  }
	.dynamic-wide.large:not(.block) { display: inline; }
	.dynamic-wide:not(.large)       { display: none;   }
}

