#pages > div {
    display: none;
}
#pages > div.current {
    display: block;
}

ul#nav-bar {
	background-image: url("../img/nav_bar_back.png");
	background-repeat: repeat-x;
	border: 0px;
	bottom: 0px;
	height: 48px;
	margin: 0px;
	padding: 0px;
	position: fixed;
	width: 100%;
}
ul#nav-bar li {
	display: inline;
	float: left;
	text-align: center;
	width: 33.333%;
}
ul#nav-bar li a {
	color: #888;
	font-size: 22px;
	line-height: 44px;
	text-decoration: none;
}
