body {
	background-image: url("../img/all/tileable-white-wood.png");
}

div#layout-debug {
	display: inline;
}

@media all and (orientation:portrait) {
	div#layout-debug > span#portrait { display: inline; }
	div#layout-debug > span#landscape { display: none; }
}

@media all and (orientation:landscape) {
	div#layout-debug > span#portrait { display: none; }
	div#layout-debug > span#landscape { display: inline; }
}

@media all and (orientation:portrait) and (min-width: 600px), 
	all and (orientation:landscape) and (min-height: 600px) {
	.dynamic.large      { display: block; }
	.dynamic:not(.large){ display: none;  }
}

@media all and (orientation:portrait) and (max-width: 600px) and (min-width: 420px), 
	all and (orientation:landscape) and (max-height: 600px) and (min-height: 420px) {
	.dynamic.medium      { display: block; }
	.dynamic:not(.medium){ display: none;  }
}

@media all and (orientation:portrait) and (max-width: 420px), 
	all and (orientation:landscape) and (max-height: 420px) {
	.dynamic.small      { display: block; }
	.dynamic:not(.small){ display: none;  }
}


/* NAVIGATION BAR AT BOTTOM */
ul#nav-bar {
	background-image: url("../img/all/nav_bar_back.png");
	background-repeat: repeat-x;
	border: 0px;
	bottom: 0px;
	height: 48px;
	margin: 0px;
	padding: 0px;
	position: fixed;
	width: 100%;
}
ul#nav-bar li {
	display: inline;
	float: left;
	text-align: center;
	width: 33.333%;
}
ul#nav-bar li a {
	color: #BBB;
	font-size: 22px;
	line-height: 44px;
	text-decoration: none;
}
