<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.n8wilson.phonegap"
        versionCode = "10" 
        version   = "1.0.0001">

    <!-- versionCode is optional and Android only -->

    <name>TX Academies</name>

    <description>
        TX Academies
    </description>

    <author href="http://n8wilson.com" email="ba663@gttx.org">
        Nate Wilson (ba663)
    </author>

    <!-- Plugin for Child-browsing -->
    <gap:plugin name="ChildBrowser" />

    <!-- Splash Screen MUST be hidden using JavaScript -->
    <preference name="auto-hide-splash-screen" value="false" />

    <!-- iOS specific config -->
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <icon src="img/ios/icon.png" width="57" height="57" />
    <icon src="img/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="img/ios/icon_at_2x.png" width="114" height="114" />

    <!-- iOS Splash Screens -->
    <!-- TODO: Make the other splash screens - only portrait is active.
    <gap:splash src="img/ios/splash/Default.png" width="320" height="480" />
    <gap:splash src="img/ios/splash/Default_at_2x.png" width="640" height="960" />
    <gap:splash src="img/ios/splash/Default_iphone5.png" width="640" height="1136" />
    <gap:splash src="img/ios/splash/Default-Landscape.png" width="1024" height="768" />
    --> 
    <gap:splash src="img/ios/splash/Default-Portrait.png" width="768" height="1024" />

    <!-- Android icons -->
    <icon src="img/Android/RSA-ldpi-36.png" gap:platform="android" gap:density="ldpi" />
    <icon src="img/Android/RSA-hdpi-72.png" gap:platform="android" gap:density="hdpi" />
    <icon src="img/Android/RSA-xhdpi-96.png" gap:platform="android" gap:density="xhdpi" />

    <!-- Android Splash Screens -->
    <gap:splash src="img/Android/splash-foundation-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="img/Android/splash-foundation-hdpi.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="img/Android/splash-foundation-ldpi.png" gap:platform="android" gap:density="ldpi" />

</widget>
