<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.n8wilson.txacademies"
        versionCode = "10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>TX Academies</name>

    <description>
        TX Academies
    </description>

    <author href="http://n8wilson.com" email="ba663@gttx.org">
        Nate Wilson (ba663)
    </author>

    <!-- Android icons -->
    <icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

</widget>
